<div class="field-1 flex-container">
  <div class="content-container vertical-columns">
    <div class="field-1" style="margin-top: 3rem;">
      <a routerLink="/menu/entradas/lista" class="add-button"><i class="fas fa-chevron-left"></i> Volver</a>
    </div>
    <h1 class="title">Registro de mercancía</h1>
    <div class="text-align-center error-text" *ngIf="!response">
      ¡{{message}}!
    </div>
    <form [formGroup]="newEntryForm" (ngSubmit)="createEntry()">
      <div class="form-container columns">
        <div class="field-1 flex-container">
          <label class="warning-text">¡Todos los campos son obligatorios!</label>
        </div>
        <div class="item-field vertical-columns field-3">
          <label class="label-field" for="date">Fecha</label>
          <input type="date" formControlName="date" id="date" name="date">
        </div>
        <div *ngIf="currentUser.type === 1" class="item-field vertical-columns field-3">
          <label class="label-field">Empresa</label>
          <select formControlName="companyID" (change)="getData(form.companyID.value)">
            <option value=""></option>
            <option *ngFor="let company of companies" [ngValue]="company.id"> {{company.name}} </option>
          </select>
        </div>
        <div *ngIf="currentUser.type === 1" class="item-field vertical-columns field-3">
          <label class="label-field"><span class="error-text">Advertencia</span></label>
          <span >*Debe seleccionar una empresa antes de continuar con los demás datos</span>
        </div> 
        <div class="item-field vertical-columns field-3">
          <label class="label-field" for="billNumber">Número de factura</label>
          <input id="billNumber" name="billNumber" formControlName="billNumber" class="input-field" pattern="[0-9]*" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number" autocomplete="off">
        </div>
        <div *ngIf="currentUser.type != 3" class="item-field vertical-columns field-3">
          <label class="label-field">Sucursal</label>
          <select formControlName="branchID">
            <option value=""></option>
            <option *ngFor="let branch of branchs" [ngValue]="branch?.id"> {{branch?.name}} </option>
          </select>
        </div>
        <div class="item-field vertical-columns field-3">
          <label class="label-field">Proveedor</label>
          <select formControlName="providerID">
            <option value=""></option>
            <option *ngFor="let provider of providers" [ngValue]="provider?.id"> {{provider?.name}} </option>
          </select>
        </div>

        <div class="item-field vertical-columns field-1">
          <label class="label-field">Productos en esta venta</label>
          <div class="field-1 flex-container columns">
            <div class="item-field flex-container-centered field-2">
              <label class="label-field">Producto</label>
            </div>
            <div class="columns field-2">
              <div class="item-field flex-container-centered field-4">
                <label class="label-field">Valor unitario</label>
              </div>
              <div class="item-field flex-container-centered field-4">
                <label class="label-field">Cantidad</label>
              </div>
              <div class="item-field flex-container-centered field-4">
                <label class="label-field">Valor total</label>
              </div>
            </div>
          </div>
          <div formArrayName="products" *ngFor="let product of productContainer.controls; let i=index">
            <div formGroupName="{{i}}">
              <div class="field-1 columns">
                <div class="item-field field-2 flex-container-centered">
                  <select formControlName="id" class="field-1" (change)="checkSameProducts()">
                    <option value=""></option>
                    <option *ngFor="let product of products" [ngValue]="product?.id"> {{product?.name}} </option>
                  </select>
                </div>
                <div class="columns field-2">
                  <div class="item-field field-4 flex-container-centered">
                    <input *ngIf="product?.value.id" id="unitValue" name="unitValue" formControlName="unitValue" (keyup)="updateTotal()" (blur)="updateTotal()" class="input-field field-1" pattern="[0-9]*" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number" autocomplete="off" style="text-align: center;">
                  </div>
                  <div class="item-field field-4 flex-container-centered">
                    <div class="field-1 relative-container">
                      <div *ngIf="product?.value.id" (click)="updateQuantity(i, 1)" class="left-arrow flex-container-centered">
                        <i class="fas fa-minus"></i>
                      </div>
                      <input *ngIf="product?.value.id"
                        id="quantity{{i+1}}" name="quantity{{i+1}}" formControlName="quantity"
                        (keyup)="updateTotal()" (blur)="updateTotal()" class="input-field field-1" style="text-align: center;"
                        pattern="[0-9]*" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number" autocomplete="off">
                      <div *ngIf="product?.value.id" (click)="updateQuantity(i, 2)" class="rigth-arrow flex-container-centered">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </div>

                  <div class="item-field field-4 flex-container-centered">
                    <span class="span-field field-1" *ngIf="product?.value.id && product?.value.quantity > 0"> ${{product?.value.unitValue * product?.value.quantity | number}} </span>
                  </div>
                  <div class="item-field field-5 flex-container-centered">
                    <i (click)="removeProduct( i )" class="far fa-trash-alt trash-icon"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div  class="item-field vertical-columns field-1">
            <div class="flex-container total-container">
              <span class="total-text" for="quantity">Total:</span>
              <span class="total-text"> ${{total | number}} </span>
            </div>
          </div>
          <div class="item-field flex-container-centered field-1">
            <button class="primary-button" (click)="addProduct()" type="button">Añadir otro &#43;</button>
          </div>
        </div>
        <div class="field-1 text-align-center error-text" *ngIf="!response">
          ¡{{message}}!
        </div>
        <div class="field-1 flex-container-centered">
          <button class="primary-button save-button" type="submit" [disabled]="newEntryForm.invalid">Guardar
            &#43;</button>
        </div>

      </div>

    </form>

  </div>
</div>