<div class="field-1 flex-container">
  <div class="content-container vertical-columns">
    <div class="field-1 flex-container" style="margin-top: 3rem;">
      <a routerLink="/menu/ventas/lista" class="add-button"><i class="fas fa-chevron-left"></i> Volver</a>
    </div>
    <h1 class="title">Nueva venta</h1>
    <div class="field-1 flex-container">
      <label class="warning-text">¡Todos los campos con <span class="error-text">*</span> son obligatorios!</label>
    </div>
    <form [formGroup]="newSaleForm" (ngSubmit)="createSale()">
      <div class="form-container columns">
        <div class="item-field vertical-columns field-3">
          <label class="label-field" for="date">Fecha (*)</label>
          <input type="date" formControlName="date" id="date" name="date">
        </div>
        <div *ngIf="currentUser.type === 1" class="item-field vertical-columns field-3">
          <label class="label-field">Empresa (*)</label>
          <select formControlName="companyID" (change)="getData(form.companyID.value)">
            <option value=""></option>
            <option *ngFor="let company of companies" [ngValue]="company.id"> {{company.name}} </option>
          </select>
        </div>
        <div *ngIf="currentUser.type === 1" class="item-field vertical-columns field-3">
          <label class="label-field"><span class="error-text">Advertencia</span></label>
          <span >*Debe seleccionar una empresa antes de continuar con los demás datos</span>
        </div> 
        <div *ngIf="currentUser.type != 3" class="item-field vertical-columns field-3">
          <label class="label-field">Sucursal (*)</label>
          <select formControlName="branchID" (change)="getBranchData(form.branchID.value)">
            <option value=""></option>
            <option *ngFor="let branch of branchs" [ngValue]="branch?.id"> {{branch?.name}} </option>
          </select>
        </div>
        <div class="item-field vertical-columns field-3">
          <label class="label-field" for="billNumber">Número de factura (*)</label>
          <input id="billNumber" name="billNumber" formControlName="billNumber" class="input-field" pattern="[0-9]*" min="0"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number" autocomplete="off" maxlength="13"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
        </div>
        <div class="item-field vertical-columns field-3">
          <label class="label-field">Cliente (*)</label>
          <select formControlName="client" (change)="selectDiscount(form.client.value)">
            <option value=""></option>
            <option *ngFor="let client of clients" [ngValue]="client"> {{client?.name}} - {{client?.discount}}%  </option>
          </select>
        </div>
        <div class="item-field vertical-columns field-3">
          <label class="label-field">Método de pago (*)</label>
          <select formControlName="paymentID">
            <option value=""></option>
            <option *ngFor="let payment of paymentMethods" [ngValue]="payment?.id"> {{payment?.name}} </option>
          </select>
        </div>
        <div class="item-field vertical-columns field-3">
          <label class="label-field">Estado (*)</label>
          <select formControlName="statusID" (change)="showParcialPayment()">
            <option value=""></option>
            <option *ngFor="let status of saleStatus" [ngValue]="status?.id"> {{status?.name}} </option>
          </select>
        </div>
        <div *ngIf="form.statusID.value == 2" class="item-field vertical-columns field-3">
          <label class="label-field" for="paySome">¿Deseas realizarle un abono?</label>
          <input formControlName="paySome" id="paySome" name="paySome" class="input-field" type="checkbox" (change)="showParcialPayment()">
        </div>
        <div *ngIf="form.paySome.value && form.statusID.value == 2" class="item-field vertical-columns field-3">
          <label class="label-field" for="parcialPayment">Valor del abono</label>
          <input id="parcialPayment" name="parcialPayment" formControlName="parcialPayment" class="input-field" pattern="[0-9]*" min="0"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number" autocomplete="off" maxlength="13" placeholder="$"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
        </div>
        <div class="item-field vertical-columns field-1">
          <label class="label-field" for="observation">Observación</label>
          <textarea formControlName="observation" id="observation" name="observation" placeholder="Por si necesitas dejar un comentario de algo sucedido con esta venta" autocomplete="off" maxlength="100" class="input-field text-area"></textarea>
        </div>
        <div class="item-field vertical-columns field-1">
          <label class="label-field">Productos en esta venta</label>
          <div class="field-1 flex-container columns">
            <div class="item-field flex-container-centered field-2">
              <label class="label-field">Producto</label>
            </div>
            <div class="columns field-2">
              <div class="item-field flex-container-centered field-5">
                <label class="label-field">IVA</label>
              </div>
              <div class="item-field flex-container-centered field-5">
                <label class="label-field">Cantidad</label>
              </div>
              <div class="item-field flex-container-centered field-5">
                <label class="label-field">Valor unitario</label>
              </div>
              <div class="item-field flex-container-centered field-5">
                <label class="label-field">Valor total</label>
              </div>
            </div>
          </div>
          <div formArrayName="products" *ngFor="let product of productContainer.controls; let i=index">
            <div formGroupName="{{i}}">
              <div class="field-1 columns">
                <div class="item-field field-2 flex-container-centered">
                  <select formControlName="product" class="field-1" (change)="checkSameProducts()">
                    <option value=""></option>
                    <option *ngFor="let product of products" [ngValue]="product"> {{product?.name}} (Disponibles: {{product?.stock}}) </option>
                  </select>
                </div>
                <div class="columns field-2">
                  <div class="item-field field-5 flex-container-centered">
                    <span *ngIf="product?.value.product && product?.value.product.iva" class="span-field field-1">19%</span>
                    <span *ngIf="product?.value.product && !product?.value.product.iva" class="span-field field-1">0%</span>
                  </div>
                  <div class="item-field field-5 flex-container-centered">
                    <div class="field-1 relative-container">
                      <div *ngIf="product?.value.product" (click)="updateQuantity(i, 1)" [ngClass]="{ 'error': product?.value.product && (product?.value.product?.stock < product?.value.quantity) }" class="left-arrow flex-container-centered">
                        <i class="fas fa-minus"></i>
                      </div>
                      <input *ngIf="product?.value.product"
                        [ngClass]="{ 'is-invalid': product?.value.product && (product?.value.product?.stock < product?.value.quantity) }"
                        id="quantity{{i+1}}" name="quantity{{i+1}}" formControlName="quantity"
                        (keyup)="updateTotal()" (blur)="updateTotal()" class="input-field field-1" style="text-align: center;"
                        pattern="[0-9]*" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number" autocomplete="off" maxlength="7"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
  
                      <div *ngIf="product?.value.product" (click)="updateQuantity(i, 2)" [ngClass]="{ 'error': product?.value.product && (product?.value.product?.stock < product?.value.quantity) }" class="rigth-arrow flex-container-centered">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </div>
                  <div class="item-field field-5 flex-container-centered">
                    <span class="span-field field-1" *ngIf="product?.value.product"> ${{product?.value.product.price | number}} </span>
                  </div>
                  <div class="item-field field-5 flex-container-centered">
                    <span class="span-field field-1" *ngIf="product?.value.product && product?.value.quantity > 0"> ${{product?.value.product.price * product?.value.quantity | number}} </span>
                  </div>
                  <div class="item-field field-5 flex-container-centered">
                    <i (click)="removeProduct( i )" class="far fa-trash-alt trash-icon"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div *ngIf="discount > 0" class="item-field vertical-columns field-1">
            <div class="flex-container total-container">
              <span class="total-text" for="quantity">Subtotal :</span>
              <span class="total-text" > ${{subtotal | number}} </span>
            </div>
            <div class="flex-container total-container">
              <span class="total-text" for="quantity">Descuento (-{{discount}}%):</span>
              <span class="total-text"> ${{discountValue | number}} </span>
            </div>
            <div class="flex-container total-container">
              <span class="total-text" for="quantity">IVA:</span>
              <span class="total-text"> ${{ivaValue | number}} </span>
            </div>
            <div class="flex-container total-container">
              <span class="total-text" for="quantity">Total:</span>
              <span class="total-text"> ${{total | number}} </span>
            </div>
          </div>
          <div *ngIf="discount === 0" class="item-field vertical-columns field-1">
            <div class="flex-container total-container">
              <span class="total-text" for="quantity">IVA:</span>
              <span class="total-text"> ${{ivaValue | number}} </span>
            </div>
            <div class="flex-container total-container">
              <span class="total-text" for="quantity">Total:</span>
              <span class="total-text"> ${{subtotal | number}} </span>
            </div>
          </div>
          <div class="item-field flex-container-centered field-1">
            <button class="primary-button" (click)="addProduct()" type="button">Añadir otro &#43;</button>
          </div>
        </div>
        <div class="field-1 text-align-center error-text" *ngIf="!response">
          ¡{{message}}!
        </div>
        <div class="field-1 flex-container-centered">
          <button class="primary-button save-button" type="submit" [disabled]="newSaleForm.invalid">Guardar
            &#43;</button>
        </div>
      </div>
    </form>

  </div>
</div>