<nav class="flex-container navbar">
  <div class="navbar-content space-between">
    <div class="logo-container">
      <img src="./../../../assets/logo.jpg" class="logo" alt="">
    </div>
    <div class="vertical-align">
      <ul class="flex-container links-container">
        <li routerLink="./ventas" routerLinkActive="active" class="list-item vertical-align">
          Ventas
          <i class="fas fa-angle-down arrow-down-icon"></i>
          <div class="list-content vertical-columns">
            <a routerLink="./ventas/nueva" (click)="$event.stopPropagation()" class="space-between">Nueva venta <i class="fas fa-plus icon-item"></i></a>
            <a routerLink="./ventas/lista" (click)="$event.stopPropagation()" class="space-between">Todas las ventas <i class="fas fa-list-ul icon-item"></i></a>
            <div class="separator-line"></div>
            <a routerLink="./clientes/lista" (click)="$event.stopPropagation()" class="space-between">Lista de clientes <i class="fas fa-list-ul icon-item"></i></a>
            <a routerLink="./clientes/nuevo" (click)="$event.stopPropagation()" class="space-between">Nuevo cliente <i class="fas fa-user-plus icon-item"></i></a>
          </div>
        </li>
        <li routerLink="./productos" routerLinkActive="active"  class="list-item vertical-align">
          Productos
          <i class="fas fa-angle-down arrow-down-icon"></i>
          <div class="list-content vertical-columns">
            <a routerLink="./productos/inventario" (click)="$event.stopPropagation()" class="space-between">Inventario <i class="fas fa-clipboard-list icon-item"></i></a>
            <a routerLink="./productos/lista" (click)="$event.stopPropagation()" class="space-between">Lista de productos <i class="fas fa-list-ul icon-item"></i></a>
            <a routerLink="./productos/nuevo" (click)="$event.stopPropagation()" class="space-between">Nuevo producto <i class="fas fa-plus icon-item"></i></a>
            <div class="separator-line"></div>
            <a routerLink="./categorias" (click)="$event.stopPropagation()" class="space-between">Categorías <i class="fas fa-list-ul icon-item"></i></a>
          </div>
        </li>
        <li routerLink="./proveedores" routerLinkActive="active" class="list-item vertical-align">
          Proveedores
          <i class="fas fa-angle-down arrow-down-icon"></i>
          <div class="list-content vertical-columns">
            <a routerLink="./entradas/nueva" (click)="$event.stopPropagation()" class="space-between">Registrar mercancía<i class="fas fa-dolly icon-item"></i></a>
            <a routerLink="./entradas/lista" (click)="$event.stopPropagation()" class="space-between">Entradas de mercancía<i class="fas fa-list-ul icon-item"></i></a>
            <div class="separator-line"></div>
            <a routerLink="./proveedores/lista" (click)="$event.stopPropagation()" class="space-between">Lista de proveedores <i class="fas fa-list-ul icon-item"></i></a>
            <a routerLink="./proveedores/nuevo" (click)="$event.stopPropagation()" class="space-between">Nuevo proveedor <i class="fas fa-user-plus icon-item"></i></a>
          </div>
        </li>
        <li  routerLink="./caja" routerLinkActive="active" class="list-item vertical-align">
          Caja
          <i class="fas fa-angle-down arrow-down-icon"></i>
          <div class="list-content vertical-columns">
            <a routerLink="./caja/cerrar" (click)="$event.stopPropagation()" class="space-between">Cerrar caja <i class="fas fa-cash-register icon-item"></i></a>
            <a routerLink="./caja/cierres" (click)="$event.stopPropagation()" class="space-between">Cuadres de caja <i class="fas fa-list-ul icon-item"></i></a>
            <div class="separator-line"></div>
            <a routerLink="./gastos/reportar" (click)="$event.stopPropagation()" class="space-between">Reportar un gasto <i class="fas fa-plus icon-item"></i></a>
            <a routerLink="./gastos/lista" (click)="$event.stopPropagation()" class="space-between">Gastos <i class="fas fa-money-bill-wave icon-item"></i></a>
            <div *ngIf="currentUser?.type != 3" class="separator-line"></div>
            <a *ngIf="currentUser?.type != 3" routerLink="./reportes" (click)="$event.stopPropagation()" class="space-between">Reportes <i class="fas fa-chart-line icon-item"></i></a>
          </div>
        </li>
        <li *ngIf="currentUser?.type != 3" routerLink="./usuarios" routerLinkActive="active" class="list-item vertical-align">
          Administración
          <i class="fas fa-angle-down arrow-down-icon"></i>
          <div class="list-content vertical-columns">
            <a routerLink="./usuarios/lista" (click)="$event.stopPropagation()" class="space-between">Usuarios<i class="fas fa-list-ul icon-item"></i></a>
            <a routerLink="./usuarios/nuevo" (click)="$event.stopPropagation()" class="space-between">Crear usuario <i class="fas fa-user-plus icon-item"></i></a>
            <div class="separator-line"></div>
            <a *ngIf="currentUser?.type === 1" routerLink="./empresas/lista" (click)="$event.stopPropagation()" class="space-between">Empresas<i class="far fa-building icon-item"></i></a>
            <a *ngIf="currentUser?.type === 1" routerLink="./empresas/nueva" (click)="$event.stopPropagation()" class="space-between">Crear empresa<i class="fas fa-users-cog icon-item"></i></a>
            <div *ngIf="currentUser?.type === 1" class="separator-line"></div>
            <a routerLink="./sucursales/lista" (click)="$event.stopPropagation()" class="space-between">Sucursales<i class="fas fa-building icon-item"></i></a>
          </div>
        </li>
        <li class="list-item vertical-align">
          <span>Hola, {{currentUser?.firstName}}</span>
          <i class="fas fa-user-circle icon-item"></i>

          <div class="list-content vertical-columns">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=573013782907" class="space-between">Ayuda <i class="far fa-question-circle user-icons"></i></a>
            <a (click)="logout()" class="space-between">Cerrar sesión <i class="fas fa-door-open user-icons"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>