<div class="field-1 flex-container">
  <div class="content-container vertical-columns">
    <h1 class="title">Lista de clientes</h1>
    <div class="list-content-container">
      <div class="space-between actions-container field-1">
        <a routerLink="/menu/clientes/nuevo" class="add-button">Añadir nuevo cliente &#43;</a>

        <div class="flex-container field-2 relative-container">
          <input class="search-input" (keyup)='searchClient()' [(ngModel)]="searchField" type="text" placeholder="Buscar cliente por su nombre">
          <div *ngIf="searchField.length > 0" class="flex-container-centered delete-search-icon" (click)="deleteSearch()">
            x
          </div>
          <div class="flex-container-centered input-icon-container" (click)="searchClient()">
            <i class="fas fa-search"></i>
          </div>
        </div>

      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Descuento</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th *ngIf="currentUser.type === 1">Empresa</th>
            <th *ngIf="currentUser.type === 1" class="table-right-border">Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients; index as i">
            <td [routerLink]="['/menu/clientes', client.id]"> {{(i+offset)+1}} </td>
            <td [routerLink]="['/menu/clientes', client.id]"> {{client?.name}} </td>
            <td [routerLink]="['/menu/clientes', client.id]"> {{client?.discount}}% </td>
            <td [routerLink]="['/menu/clientes', client.id]"> {{client?.direction}} </td>
            <td [routerLink]="['/menu/clientes', client.id]"> {{client?.phone}} </td>
            <td [routerLink]="['/menu/clientes', client.id]" *ngIf="currentUser.type === 1"> {{client?.company}} </td>
            <td [routerLink]="['/menu/clientes', client.id]" *ngIf="currentUser.type === 1"> {{client?.state}} </td>
            <td>
              <div>
                <i class="far fa-trash-alt trash-icon" (click)="deleteClient(client.id, client.name)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="horizontal-align">
        <div class="field-4">
          <paginator *ngIf="totalClients>0" (updateCurrentPage)="updatePaginator($event)" [limit]="10"
            [total]="totalClients"></paginator>
        </div>
      </div>
    </div>
  </div>
</div>