<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="Sat, 01 Jan 2000 00:00:00 GMT">

<div class="field-1 flex-container">
  <div class="content-container vertical-columns">
    <h1 class="title">Ventas</h1>
    <div class="list-content-container">
      <div class="space-between alone-search-container field-1">
        <a routerLink="/menu/ventas/nueva" class="add-button">Registrar una venta &#43;</a>

        <div class="flex-container field-2 relative-container">
          <input class="search-input" (keyup)='searchClient()' [(ngModel)]="searchField" type="text" placeholder="Buscar una venta por su # de factura, cliente o estado">
          <div *ngIf="searchField.length > 0" class="flex-container-centered delete-search-icon" (click)="deleteSearch()">
            x
          </div>
          <div class="flex-container-centered input-icon-container" (click)="searchClient()">
            <i class="fas fa-search"></i>
          </div>
        </div>

      </div>

      <div class="vertical-columns field-1">
        <div *ngFor="let sale of sales; trackBy:trackBySaleID;" class="sale-container">
          <div [routerLink]="['/menu/ventas', sale.id]" class="sale-container-card space-between" 
            [ngClass]="{ 'cancelled': sale?.statusID === 1,  'pending': sale?.statusID === 2,  'canceled': sale?.statusID === 3}">
            <div class="vertical-columns" style="flex: 1 1 0px">
              <div class="section vertical-columns">
                <span class="important-text">Factura:</span>
                <span class="important-text"># {{sale?.billNumber}}</span>
              </div>
              <div class="section vertical-columns">
                <span class="important-text">Fecha:</span>
                <span>{{sale?.date}}</span>
              </div>
              <div class="section vertical-columns">
                <span class="important-text">Cliente:</span>
                <span class="important-text">{{sale?.client}}</span>
              </div>
              <div class="section vertical-columns">
                <span class="important-text">Dirección:</span>
                <span><i class="fas fa-map-marker-alt"></i> {{sale?.direction}}</span> 
              </div>
              <div class="section vertical-columns">
                <span class="important-text">Teléfono:</span>
                <span><i class="fas fa-mobile-alt"></i> {{sale?.phone}}</span>
              </div>
            </div>
            <div class="vertical-columns" style="flex: 1 1 0px">
              <div class="section vertical-columns">
                <span class="important-text">Estado:</span>
                <span>{{sale?.status}}</span>
              </div>
              <div class="section vertical-columns">
                <span class="important-text">Medio de pago:</span>
                <span *ngIf="sale?.paymentID === 1"><i class="fas fa-money-bill-wave"></i> {{sale?.payment}}</span>
                <span *ngIf="sale?.paymentID === 2 || sale?.paymentID === 3"><i class="far fa-credit-card"></i> {{sale?.payment}}</span>
                <span *ngIf="sale?.paymentID ===4"><i class="fas fa-exchange-alt"></i> {{sale?.payment}}</span>

              </div>
              <div class="section vertical-columns">
                <span class="important-text">Total:</span>
                <span class="important-text">${{sale?.total | number}}</span>
              </div>
            </div>
            <div *ngIf="currentUser.type !=3" class="vertical-columns" style="flex: 1 1 0px">
              <div class="section vertical-columns">
                <span *ngIf="currentUser.type === 1" class="important-text">Empresa:</span>
                <span *ngIf="currentUser.type === 1">{{sale?.company}}</span>
              </div>
              <div class="section vertical-columns">
                <span *ngIf="currentUser.type !=3" class="important-text">Sucursal:</span>
                <span *ngIf="currentUser.type !=3">{{sale?.branch}}</span>
              </div>
              <div class="section vertical-columns">
                <span class="important-text">Fecha de pago:</span>
                <span>Fecha de pago</span>
              </div>
              <div class="section vertical-columns">
                <span class="important-text">Usuario que la registró:</span>
                <span>{{sale?.creationUser}}</span>
              </div>
            </div>
          </div>
        </div>
        
      </div>
<!--
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th># Factura</th>
            <th>Cliente</th>
            <th>Total</th>
            <th *ngIf="currentUser.type != 3">Sucursal</th>
            <th *ngIf="currentUser.type === 1">Empresa</th>
            <th>Estado</th>
            <th class="table-right-border">Medio de pago</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of sales; trackBy:trackBySaleID; index as i">
            <td [routerLink]="['/menu/ventas', sale.id]"> {{(i+offset)+1}} </td>
            <td [routerLink]="['/menu/ventas', sale.id]"> {{sale?.date}} </td>
            <td [routerLink]="['/menu/ventas', sale.id]"> {{sale?.billNumber}} </td>
            <td [routerLink]="['/menu/ventas', sale.id]"> {{sale?.client}} </td>
            <td [routerLink]="['/menu/ventas', sale.id]"> ${{sale?.total | number}} </td>
            <td [routerLink]="['/menu/ventas', sale.id]" *ngIf="currentUser.type !=3"> {{sale?.branch}} </td>
            <td [routerLink]="['/menu/ventas', sale.id]" *ngIf="currentUser.type === 1"> {{sale?.company}} </td>
            <td [routerLink]="['/menu/ventas', sale.id]"> {{sale?.status}} </td>
            <td [routerLink]="['/menu/ventas', sale.id]"> {{sale?.payment}} </td>
          </tr>
        </tbody>
      </table>
      -->
      <div class="horizontal-align">
        <div class="field-4">
          <paginator *ngIf="totalSales>0" (updateCurrentPage)="updatePaginator($event)" [limit]="10"
            [total]="totalSales"></paginator>
        </div>
      </div>
    </div>
  </div>
</div>