<div class="field-1 flex-container">
  <div class="content-container vertical-columns">
    <div class="field-1" style="margin-top: 3rem;">
      <a routerLink="/menu/caja/cierres" class="add-button"><i class="fas fa-chevron-left"></i> Volver</a>
    </div>
    <h1 class="title">Cierre de caja</h1>
    <div class="text-align-center error-text" *ngIf="!response">
      ¡{{message}}!
    </div>
    <form *ngIf="existSquare" [formGroup]="editSquareForm" (ngSubmit)="updateSquare()">
      <div class="form-container columns">
        <div class="field-1">
          <label class="total-text">Datos del cierre de {{currentSquare?.date}}</label>
        </div>
        <div class="flex-container field-1">
          <div *ngIf="currentUser.type === 1" class="item-field vertical-columns field-2">
            <label class="label-field">Empresa:</label>
            <span class="span-field"> {{currentSquare?.company}} </span>
          </div>
          <div *ngIf="currentUser.type != 3" class="item-field vertical-columns field-2">
            <label class="label-field">Sucursal:</label>
            <span class="span-field"> {{currentSquare?.branch}} </span>
          </div>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Total vendido:</label>
          <span class="span-field"> ${{currentSquare?.totalSalesMoney | number}} </span>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Total gastos:</label>
          <span class="span-field"> ${{currentSquare?.totalOutputs | number}} </span>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">¿Cuál fue el dinero inicial de la caja?</label>
          <span class="span-field"> ${{currentSquare?.initialMoney | number}} </span>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">¿Cuánto hubo en la caja?</label>
          <span class="span-field"> ${{currentSquare?.cash | number}} </span>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Descuadre:</label>
          <span class="span-field"> ${{currentSquare?.mismatch | number}} </span>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Total ventas realizadas:</label>
          <span class="span-field"> {{currentSquare?.totalSales}} </span>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">¿Cuándo se realizó?</label>
          <span class="span-field"> {{currentSquare?.creationDate}} </span>
        </div>
        <div class="item-field vertical-columns field-1">
          <label class="label-field">Observaciones:</label>
          <span class="span-field"> {{currentSquare?.observation}} </span>
        </div>
        <div class="field-1">
          <label class="total-text">Nuevos valores</label>
        </div>
        <div class="field-1 flex-container">
          <div class="item-field vertical-columns field-2">
            <label class="label-field" for="initialMoney">Dinero inicial de la caja (*)</label>
            <input (keyup)="updateCashRegister()" id="initialMoney" name="initialMoney" formControlName="initialMoney" placeholder="Dinero en caja al momento de abrir" class="input-field" pattern="[0-9]*" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number" autocomplete="off">
          </div>
          <div class="item-field vertical-columns field-2">
            <label class="label-field" for="cash">Dinero final en la caja (*)</label>
            <input (keyup)="updateCashRegister()" id="cash" name="cash" formControlName="cash" placeholder="Dinero con el cual cerraste el día" class="input-field" pattern="[0-9]*" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number" autocomplete="off">
          </div>
        </div>
        <div class="item-field vertical-columns field-1">
          <label class="label-field" for="observation">Observación</label>
          <textarea formControlName="observation" id="observation" name="observation" placeholder="Por si necesitas dejar un comentario de algo sucedido con esta cierre" autocomplete="off" maxlength="250" class="input-field text-area"></textarea>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Total de dinero en la caja</label>
          <span *ngIf="moneyInCash <= 0" class="span-field"> Digite el valor inicial de la caja para observar </span>
          <span *ngIf="moneyInCash > 0" class="span-field"> ${{moneyInCash | number}} </span>
        </div>
        <div *ngIf="form.mismatch.value != 0" class="item-field vertical-columns field-2">
          <label class="label-field">Diferencia entre la caja y lo esperado</label>
          <span class="span-field" [ngClass]="{ 'is-invalid': form.mismatch.value < 0 }"> ${{form.mismatch.value | number}} </span>
        </div>
        <div class="field-1 flex-container">
          <div class="form-buttons-container space-between">
            <button class="cancel-button" type="button" routerLink="/menu/caja/cierres">Cancelar</button>
            <button class="primary-button save-button" type="submit" [disabled]="editSquareForm.invalid">Actualizar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="field-1 flex-container-centered" *ngIf="!existSquare">
      <button class="cancel-button back-button" type="button" routerLink="/menu/caja/cierres">Volver</button>
    </div>
  </div>
</div>