<div class="field-1 flex-container">
  <div class="content-container vertical-columns">
    <div class="field-1" style="margin-top: 3rem;">
      <a routerLink="/menu/sucursales/lista" class="add-button"><i class="fas fa-chevron-left"></i> Volver</a>
    </div>
    <h1 class="title">Nueva sucursal</h1>
    <div class="text-align-center error-text" *ngIf="!response">
      ¡{{message}}!
    </div>
    <form [formGroup]="newBranchForm" (ngSubmit)="saveBranch()">
      <div class="form-container columns">
        <div class="item-field vertical-columns field-2">
          <label class="label-field" for="name">Nombre (*)</label>
          <input formControlName="name" id="name" name="name" autocomplete="off" class="input-field" type="text">
        </div>
        <div *ngIf="currentUser.type === 1" class="item-field vertical-columns field-2">
          <label class="label-field">Empresa (*)</label>
          <select formControlName="companyID">
            <option value=""></option>
            <option *ngFor="let company of companies" [ngValue]="company.id"> {{company.name}} </option>
          </select>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">País (*)</label>
          <select formControlName="countryID" (change)="getProvinces(form.countryID.value)">
            <option value=""></option>
            <option *ngFor="let country of countries" [ngValue]="country.id"> {{country.name}} </option>
          </select>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Departamento (*)</label>
          <select formControlName="provinceID" (change)="getCities(form.provinceID.value)">
            <option value=""></option>
            <option *ngFor="let province of provinces" [ngValue]="province.id"> {{province.name}} </option>
          </select>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Ciudad (*)</label>
          <select formControlName="cityID">
            <option value=""></option>
            <option *ngFor="let city of cities" [ngValue]="city.id"> {{city.name}} </option>
          </select>
        </div>

        <div class="field-1 flex-container">
          <label class="warning-text">¡Todos los campos con <span class="error-text">*</span> son obligatorios!</label>
        </div>

        <div class="field-1 flex-container-centered">
          <button class="primary-button save-button" [disabled]="newBranchForm.invalid">Guardar
            &#43;</button>
        </div>

      </div>

    </form>

  </div>
</div>