<div class="field-1 flex-container">
  <div class="content-container vertical-columns">
    <div class="field-1" style="margin-top: 3rem;">
      <a routerLink="/menu/usuarios/lista" class="add-button"><i class="fas fa-chevron-left"></i> Volver</a>
    </div>
    <h1 class="title">Editar usuario</h1>
    <div class="text-align-center error-text" *ngIf="!response">
      ¡{{message}}!
    </div>
    <form [formGroup]="editUserForm" (ngSubmit)="saveUser()" *ngIf="existUser">
      <div class="form-container columns">
        <div class="item-field vertical-columns field-2">
          <label class="label-field" for="firstName">Nombres (*)</label>
          <input autocomplete="off" formControlName="firstName" id="firstName" name="firstName" maxlength="100" class="input-field" type="text">
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field" for="lastName">Apellidos (*)</label>
          <input autocomplete="off" formControlName="lastName" id="lastName" name="lastName" maxlength="100" class="input-field" type="text">
        </div>
        <div *ngIf="currentUser.type === 1" class="item-field vertical-columns field-2">
          <label class="label-field">Empresa (*)</label>
          <select formControlName="companyID" (change)="getBranchs(form.companyID.value)">
            <option value=""></option>
            <option *ngFor="let company of companies" [ngValue]="company?.id" [selected]="form.companyID.value === company?.id"> {{company?.name}} </option>
          </select>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Sucursal (*)</label>
          <select formControlName="branchID">
            <option value=""></option>
            <option *ngFor="let branch of branchs" [ngValue]="branch?.id" [selected]="form.branchID.value === branch?.id"> {{branch?.name}} </option>
          </select>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field" for="dni">CC (*)</label>
          <input formControlName="dni" id="dni" name="dni" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && message == 'Ya existe un usuario con la cédula ingresada' }" maxlength="15" class="input-field" type="text">
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field" for="email">Email</label>
          <input autocomplete="off" formControlName="email" id="email" name="email" maxlength="120" class="input-field" type="email">
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field" for="phone">Teléfono (*)</label>
          <input formControlName="phone" id="phone" name="phone" autocomplete="off" placeholder="Celular o fijo" maxlength="10"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="input-field" pattern="[0-9]*" min="0" 
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number">
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Tipo de usuario (*)</label>
          <select formControlName="typeID">
            <option value=""></option>
            <option *ngFor="let type of userTypes" [ngValue]="type?.id" [selected]="form.typeID.value === type?.id"> {{type?.name}} </option>
          </select>
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field" [ngClass]="{ 'error-text': message == 'Nombre de usuario ya en uso' }" for="username">Nombre de usuario (*)</label>
          <input autocomplete="off" [ngClass]="{ 'is-invalid': message == 'Nombre de usuario ya en uso' }" formControlName="username" id="username" name="username" maxlength="50" class="input-field">
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field" for="newPassword">Nueva contraseña</label>
          <input autocomplete="off" formControlName="newPassword" id="newPassword" name="newPassword" class="input-field" type="password" maxlength="10" placeholder="Mínimo 6 caracteres">
        </div>
        <div *ngIf="currentUser.type === 1" class="item-field vertical-columns field-2">
          <label class="label-field" for="state">Estado (*)</label>
          <input formControlName="state" id="state" name="state" [checked]="form.state.value" class="input-field" type="checkbox">
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Última conexión </label>
          <span class="label-field"> {{user?.lastConnection}} </span>
        </div>
        <div class="field-1 flex-container">
          <label class="warning-text">¡Todos los campos con <span class="error-text">*</span> son obligatorios!</label>
        </div>
        <div class="field-1 flex-container">
          <div class="form-buttons-container space-between">
            <button class="cancel-button" type="button" routerLink="/menu/usuarios/lista">Cancelar</button>
            <button class="primary-button save-button" type="submit" [disabled]="editUserForm.invalid">Actualizar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="field-1 flex-container-centered" *ngIf="!existUser">
      <button class="cancel-button back-button" type="button" routerLink="/menu/usuarios/lista">Volver</button>
    </div>
  </div>
</div>