.data-container {
    margin: 1rem 0;
}

.money-table {
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    margin-top: 1rem;
}

.money-table th, td {
    border: 1px solid #ddd;
}