.data-container {
    margin: 1rem 0;
}

.money-table {
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    margin-top: 1rem;
    table-layout:fixed;
    border-spacing: 0;
}

.money-table tr {
    border: 1px solid #ddd;
}

.money-table th,
.money-table td {
    padding: .5rem;
}

.money-table td input {
    width: 80%;
}