<div class="field-1 flex-container">
  <div class="content-container vertical-columns">
    <div class="field-1" style="margin-top: 3rem;">
      <a [routerLink]="['/menu/ventas/cartera', saleID]" class="add-button"><i class="fas fa-chevron-left"></i> Volver</a>
    </div>
    <h1 class="title">Crear un abono</h1>
    <div class="text-align-center error-text" *ngIf="!response">
      ¡{{message}}!
    </div>
    <form [formGroup]="partialPaymentForm" (ngSubmit)="savePartialPayment()">
      <div class="form-container columns">
        <div class="item-field vertical-columns field-2">
          <label class="label-field">Fecha</label>
          <input type="date" formControlName="date" id="date" name="date">
        </div>
        <div class="item-field vertical-columns field-2">
          <label class="label-field" for="value">Valor</label>
          <input formControlName="value" id="value" name="value" autocomplete="off" maxlength="10" placeholder="$"
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" class="input-field" pattern="[0-9]*" min="0" 
          onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number">
        </div>
        <div class="field-1 flex-container">
          <label class="warning-text">¡Todos los campos son obligatorios!</label>
        </div>
        <div class="field-1 flex-container-centered">
          <button class="primary-button save-button" [disabled]="partialPaymentForm?.invalid">Guardar
            &#43;</button>
        </div>
      </div>
    </form>
  </div>
</div>